﻿/*-- STRUCTURE -----------------------------------------------*/

HTML {
	/*height:100%;*/
	font-size:100.01%;
	/*background:#5E0062;*/
	}

.LableCust
{
    color: black;
font-family: Calibri;
font-size: 14px;
text-align: left;
vertical-align: top;
font-weight: bolder;
    }

BODY {
	/*min-height:100%;
	height:auto;*/
	color:#777;
	background:#5D0263 url('../images/background.png');
	/*background-size:100% 100%;*/
	content: "";
	margin:0;
	padding-top:50px;
	padding-bottom:30px;
	}
	
	.trip {
	width:1000px;
	height:20px;
	margin:0 auto;
	position:relative;
	display:block;
	background:url(../images/line.png) center bottom repeat-x;
	color:#CCC;
	}

TD, BODY, DIV {
	font-family:Tahoma,'Lucida Sans',Arial,Verdana,sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5em;
	vertical-align:top;
	}

IMG {
	border-style: none;
    border-color: inherit;
    border-width: 0;
    display:inline-block;
	/*max-width:100%;*/
	font:normal 10px/1em tahoma,sans-serif;
	}

TD, FORM {
	padding:0;
	margin:0;
	}

p {
	line-height:1.5em;
	padding:0 0 1em 0;
	margin:0;
	}

.clear {
	clear:both !important;
	font-size:0 !important;
	line-height:0 !important;
	padding:0 !important;
	margin:0 !important;
	height:0;
	min-height:0 !important;
	float:none !important;
	}

.block {
	display:block;
	}

blockquote {
	font-size:120%;
	background:url(../images/quote_left.png) top left no-repeat;
	margin:0.5em 0 1.5em;
	padding:0 0 0 40px;
	}

blockquote p {
	background:url(../images/line.png) top left repeat-y;
	padding-left:10px;
	padding-bottom:0;
	font-family:georgia,times,serif;
	}

blockquote cite {
	font-size:11px;
	margin-bottom:-1em;
	display:table;
	}

blockquote p cite {
	font-style:italic;
	}

blockquote .f120 {
	margin:0 0 0 -0.1em;
	}

abbr,
acronym {
	border-bottom:1px dotted #666;
	cursor:help;
	}

del {
	text-decoration:line-through;
	}

ins {
	background:#FFFFCC none repeat scroll 0 0;
	text-decoration:none;
	}

code {
	font-family:"Courier New",monospace;
	background:url(../images/bg-black-10.png) top left repeat;
	padding:0 3px;
	}

td code {
	background:none;
	padding:0;
	}

pre {
	font-size:12px;
	color:#555;
	font-family:"Courier New",monospace;
	background:#FFF url(../images/bg_code.png) left 20px;
	margin-bottom:1em;
	line-height:20px;
	overflow:auto;
	padding:0 3px;
	max-width:900px;
	}

hr {	background:url(../images/line.png) top left repeat-x;
	border:0 none;
	clear:both;
	height:1px;
	margin-bottom:10px;
	}

ol {	list-style-type:decimal;}
ul {	list-style-type:disc;}

ol, ul {
	margin:0 0 0 1.5em;
	line-height:1.5em;
	}

ol.no, ul.no {
	list-style:none;
	margin:0;
	padding:0;
	}

small {	font-size:80%;}
sup {	font-size:66%; vertical-align:super;}

.div-as-table {
	display:table;
	position:relative;
	}

.div-as-table > div {
	#position:absolute;
	#top:50%;
	display:table-cell;
	vertical-align:middle;
	}

.div-as-table > div > div {
	#position:relative;
	#top:-50%;
	}

fieldset {
	border:1px solid #DDD;
	/*padding:0.75em 1em 1.5em 1em;*/
	margin:0.1em 0 1.3em;
	}

fieldset legend {
	display:block;
	font-weight:bold;
	line-height:1em;
	margin:-3px 0 0 -5px;
	padding:3px 5px;
	}

#site-wrapper {
	max-width:100%;
	overflow:hidden;
	margin:0 auto;
	}

#layout {
	/*background-image: url(../images/patterns/pat_9.png);
	background-repeat: repeat;*/
	z-index:1;
	position:relative;
	}

#wrapper {
	margin-bottom:30px;
	position:relative;
	margin-top: 70px;
	}
	
.feature_box_green_mid{
    padding: 10px;
    background: #98AC3D;
    margin: 10px auto 50px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkid-border-radius: 3px;
    -o-border-radius: 2px;
    position: relative;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border:1px solid #AAC045;
}
.feature_box_green_mid:hover{
    background: #889A36;
    -moz-box-shadow: 0 0 10px 1px #fff;
    -webkit-box-shadow: 0 0 10px 1px #fff;
    box-shadow: 0 0 10px 1px #fff;
    border:1px solid #D5D4D7;
}
.feature_box_green_mid h1, h2, h3{
    color:#fff;
    margin:0;
    border-bottom:1px solid #C9C8C8;
}


.feature_box_lightBlue{
    padding: 10px;
    background: #75B8EC;
    margin: 10px auto 50px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkid-border-radius: 3px;
    -o-border-radius: 2px;
    position: relative;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border:1px solid #AAC045;
}
.feature_box_lightBlue:hover{
    background: #6897C8;
    -moz-box-shadow: 0 0 10px 1px #fff;
    -webkit-box-shadow: 0 0 10px 1px #fff;
    box-shadow: 0 0 10px 1px #fff;
    border:1px solid #D5D4D7;
}
.feature_box_lightBlue h1, h2, h3{
    color:#fff;
    margin:0;
    
    border-bottom:1px solid #C9C8C8;
}

.feature_box_purpledark{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkid-border-radius: 3px;
    -o-border-radius: 2px;
    position: relative;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
.feature_box_purpledark:hover{
    -moz-box-shadow: 0 0 10px 1px #fff;
    -webkit-box-shadow: 0 0 10px 1px #fff;
    box-shadow: 0 0 10px 1px #fff;
}

.feature_box_cyan{
    padding: 10px;
    background: #7BB9B2;
    margin: 10px auto 50px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkid-border-radius: 3px;
    -o-border-radius: 2px;
    position: relative;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border:1px solid #85C8C0;
}
.feature_box_cyan:hover{
    background: #72ABA5;
    -moz-box-shadow: 0 0 10px 1px #fff;
    -webkit-box-shadow: 0 0 10px 1px #fff;
    box-shadow: 0 0 10px 1px #fff;
    border:1px solid #D5D4D7;
}
.feature_box_cyan h1, h2, h3{
    color:#fff;
    margin:0;
    border-bottom:1px solid #C9C8C8;}

.feature_box_red{
    padding: 10px;
    background: #D7502A;
    margin: 10px auto 50px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkid-border-radius: 3px;
    -o-border-radius: 2px;
    position: relative;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border:1px solid #EE582E;
}
.feature_box_red:hover{
    background: #C44926;
    -moz-box-shadow: 0 0 10px 1px #fff;
    -webkit-box-shadow: 0 0 10px 1px #fff;
    box-shadow: 0 0 10px 1px #fff;
    border:1px solid #D5D4D7;
}
.feature_box_red h1, h2, h3{
    color:#fff;
    margin:0;
    font-size:20px;
    border-bottom:1px solid #C9C8C8;
}

.feature_box_dark_red{
    padding: 10px;
    background: #75B8EC;
    margin: 10px auto 50px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkid-border-radius: 3px;
    -o-border-radius: 2px;
    position: relative;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border:1px solid #AAC045;
}
.feature_box_dark_red:hover{
    background: #6897C8;
    -moz-box-shadow: 0 0 10px 1px #fff;
    -webkit-box-shadow: 0 0 10px 1px #fff;
    box-shadow: 0 0 10px 1px #fff;
    border:1px solid #D5D4D7;
}
.feature_box_dark_red h1, h2, h3{
    color:#fff;
    margin:0;
    font-size:15px;
    border-bottom:1px solid #C9C8C8;
}

.feature_box_green{
    padding: 10px;
    background: #009C1A;
    margin: 10px auto 50px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkid-border-radius: 3px;
    -o-border-radius: 2px;
    position: relative;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border:1px solid #02D425;
}
.feature_box_green:hover{
    background: #028B19;
    -moz-box-shadow: 0 0 10px 1px #fff;
    -webkit-box-shadow: 0 0 10px 1px #fff;
    box-shadow: 0 0 10px 1px #fff;
    border:1px solid #D5D4D7;
}
.feature_box_green h1, h2, h3{
    color:#fff;
    margin:0;
    font-size:22px;
    border-bottom:1px solid #C9C8C8;
}

.feature_box_greenlight{
    padding: 10px;
    background: #81ca60;/*769D2F,*/
    margin: 10px auto 50px;
   
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkid-border-radius: 3px;
    -o-border-radius: 2px;
    position: relative;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border:1px solid #8EBC3A;
}

.feature_box_greenlight:hover{
    background: #45b03c;/*648528*/
    -moz-box-shadow: 0 0 10px 1px #fff;
    -webkit-box-shadow: 0 0 10px 1px #fff;
    box-shadow: 0 0 10px 1px #fff;
    border:1px solid #D5D4D7;
}
.feature_box_greenlight h1, h2, h3{
    color:#fff;
    margin:0;
    font-size:17px;
    border-bottom:1px solid #C9C8C8;
}

.feature_box_orrange{
    padding: 10px;
    background: #F0BB56;
    margin: 10px auto 50px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkid-border-radius: 3px;
    -o-border-radius: 2px;
    position: relative;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border:1px solid #FBE0AC;
}
.feature_box_orrange:hover{
    background: #E9AD3A;
    -moz-box-shadow: 0 0 10px 1px #fff;
    -webkit-box-shadow: 0 0 10px 1px #fff;
    box-shadow: 0 0 10px 1px #fff;
    border:1px solid #D5D4D7;
}
.feature_box_orrange h1, h2, h3{
    color:#fff;
    font-size:17px;
    margin:0;
    border-bottom:1px solid #f5f5f5;
}
.float_left{float:left; margin-right:10px;}

.feature_box_blue{
    padding: 10px;
    background: #2D89EF;
    margin: 10px auto 50px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkid-border-radius: 3px;
    -o-border-radius: 2px;
    position: relative;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border:1px solid #87B9FE;
}
.feature_box_blue:hover{
    background: #0977F1;
    -moz-box-shadow: 0 0 10px 1px #fff;
    -webkit-box-shadow: 0 0 10px 1px #fff;
    box-shadow: 0 0 10px 1px #fff;
    border:1px solid #D5D4D7;
}
.feature_box_blue h1, h2, h3{
    color:#fff;
    margin:0;
    font-size:17px;
    border-bottom:1px solid #C9C8C8;
}

.feature_box_bluelight{
    padding: 10px;
    background: #138CBE;
    margin: 10px auto 50px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkid-border-radius: 3px;
    -o-border-radius: 2px;
    position: relative;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border:1px solid #18A2DC;
}
.feature_box_bluelight:hover{
    background: #0F76A0;
    -moz-box-shadow: 0 0 10px 1px #fff;
    -webkit-box-shadow: 0 0 10px 1px #fff;
    box-shadow: 0 0 10px 1px #fff;
    border:1px solid #D5D4D7;
}
.feature_box_bluelight h1, h2, h3{
    color:#fff;
    margin:0;
    border-bottom:1px solid #C9C8C8;
}












.feature_box_purple{
    padding: 10px;
    background: #5636B0;
    margin: 10px auto 50px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkid-border-radius: 3px;
    -o-border-radius: 2px;
    position: relative;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border:1px solid #643FCD;
}
.feature_box_purple:hover{
    background: #4D29B1;
    -moz-box-shadow: 0 0 10px 1px #fff;
    -webkit-box-shadow: 0 0 10px 1px #fff;
    box-shadow: 0 0 10px 1px #fff;
    border:1px solid #D5D4D7;
}
.feature_box_purple h1, h2, h3{
    color:#fff;
    margin:0;
    font-size:17px;
    border-bottom:1px solid #C9C8C8;
}



.feature_box_pink{
    padding: 10px;
    background: #FBB4B5;
    margin: 10px auto 50px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkid-border-radius: 3px;
    -o-border-radius: 2px;
    position: relative;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border:1px solid #FCD4D5;
}
.feature_box_pink:hover{
    background: #EEA1A3;
    -moz-box-shadow: 0 0 10px 1px #fff;
    -webkit-box-shadow: 0 0 10px 1px #fff;
    box-shadow: 0 0 10px 1px #fff;
    border:1px solid #D5D4D7;
}
.feature_box_pink h5{
    color:#fff;
    margin:0;
    font-size:12px;
    border-bottom:1px solid #fff;
}
.feature_box_pink h1, h2, h3{
    color:#fff;
    margin:0;
    font-size:17px;
    border-bottom:0px solid #fff;
}

.feature_box_yellow{
    padding: 10px;
    background: #ADB305;
    margin: 10px auto 50px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkid-border-radius: 3px;
    -o-border-radius: 2px;
    position: relative;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border:1px solid #CBD202;
}
.feature_box_yellow:hover{
    background: #909503;
    -moz-box-shadow: 0 0 10px 1px #fff;
    -webkit-box-shadow: 0 0 10px 1px #fff;
    box-shadow: 0 0 10px 1px #fff;
    border:1px solid #D5D4D7;
}
.feature_box_yellow h1, h2, h3{
    color:#fff;
    margin:0;
    font-size:17px;
    border-bottom:0px solid #fff;
}
.feature_box_yellow h5{
    color:#fff;
    margin:0;
    font-size:12px;
    border-bottom:1px solid #fff;
}
.feature_box_green_mid,
feature_box_lightBlue,
.feature_box_cyan,
.feature_box_red,
.feature_box_dark_red,
.feature_box_green,
.feature_box_greenlight,
.feature_box_orrange,
.feature_box_blue,
.feature_box_bluelight,
.feature_box_purple,
.feature_box_purpledark,
.feature_box_pink,
.feature_box_yellow {
    color:#fff;
    min-height:80px;
    max-width:100%;
}

.feature_box_green_mid,
.feature_box_cyan,
.feature_box_red,
.feature_box_dark_red,
.feature_box_green,
.feature_box_greenlight,
.feature_box_orrange,
.feature_box_blue,
.feature_box_bluelight,
.feature_box_purple,
.feature_box_purpledark,
.feature_box_pink,
feature_box_lightBlue,
.feature_box_yellow a{
    color:#fff;
    font-weight:normal;
    text-decoration:none;
}
.feature_box_green_mid,
.feature_box_cyan,
.feature_box_red,
.feature_box_dark_red,
.feature_box_green,
.feature_box_greenlight,
.feature_box_orrange,
.feature_box_blue,
.feature_box_bluelight,
.feature_box_purple,
.feature_box_purpledark,
.feature_box_pink,
feature_box_lightBlue,
.feature_box_yellow a:hover{
    color:#fff;
    font-weight:normal;
    text-decoration:none;
}

/*-- TABLES -----------------------------------------------*/

.table table {
	border-collapse:collapse;
	border:0;
	text-align:left;
	width:100%;
	margin:0 0 1em;
	}

.table td {


	padding:2px;
	border-left:1px solid #DDD;
	border-top:1px solid #DDD;
	line-height:1.0em;
	vertical-align:top;
	}

.table td:first-child {
	border-left:none;
	}

.table tr:first-child td {
	border-top:none;
	}

.table th {
	font-weight:bold;
	padding:5px 10px;
	line-height:1.3em;
	border-bottom:3px solid #DDD;
	}

.table thead tr {
	background:#999;
	color:#FFF;
	}


table {
	border-style: none;
    border-color: inherit;
    border-width: 0;
    border-collapse:collapse;
	text-align:left;
	margin:0 0 1em;
	}

td {
	padding:2px;
	border-left:0px solid #DDD;
	border-top:0px solid #DDD;
	line-height:1.0em;
	vertical-align:top;
	font-weight:normal;
	}

 td:first-child {
	border-left:none;
	}

.table tr:first-child td {
	border-top:none;
	}

.table th {
	font-weight:bold;
	padding:5px 10px;
	line-height:1.3em;
	border-bottom:0px solid #DDD;
	}

thead tr {
	/*background:#2291D9;*/
	color:#fff;
	}

/*-- HEADER -----------------------------------------------*/

#headwrapper {
	z-index:3;
	position:absolute;
		/*background:#2191DB url(../images/patterns/pat_10.png) top left repeat;	*/
	}

#topheader-wrapper {
/*	background: rgb(241, 241, 241) url(../images/bg-black-30.png) center center repeat;
	box-shadow: 0px -6px 11px -5px rgb(107, 107, 107) inset;*/

    /*background-image: linear-gradient(bottom, rgb(204,204,204) 0%, rgb(255,255,255) 53%);
    background-image: -o-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(255,255,255) 53%);
    background-image: -moz-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(255,255,255) 53%);
    background-image: -webkit-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(255,255,255) 53%);
    background-image: -ms-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(255,255,255) 53%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(204,204,204)),
	    color-stop(0.53, rgb(255,255,255))
    );
	
	
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
	margin:0 -1px 0 -1px;
	border-bottom:1px solid #ccc;
	position:fixed;
	top:0;
	z-index:300;
	width:100%;
	height:95px;
	padding-top:0px;*/
    background: #cccccc; /* Old browsers */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top, #cccccc 0%, #ffffff 53%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(53%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cccccc 0%,#ffffff 53%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cccccc 0%,#ffffff 53%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cccccc 0%,#ffffff 53%); /* IE10+ */
background: linear-gradient(to bottom, #cccccc 0%,#ffffff 53%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
 background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(204,204,204)),
	    color-stop(0.53, rgb(255,255,255))
    );
 -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
	margin:0 -1px 0 -1px;
	border-bottom:1px solid #ccc;
	position:fixed;
	top:0;
	
	width:100%;
	height:95px;
	padding-top:0px;/*z-index:300;*/
	}

#topheader {
	width:1000px;
	margin:0 auto;
	padding:2px 0;
	position:relative;
	display:block;
	min-height:20px;
	color:#999;
	}

#header {
	width:1000px;
	padding:12px 0;
	margin:0 auto;
	position:relative;
	display:block;
	background:url(../images/line.png) center bottom repeat-x;
	color:#CCC;
	}
	
	.site-header{margin-left:50px; display:block; border:0;padding-top: 8px; padding:2px;}

#header h1.logo,
#header h1.logo a {
	padding:0;
	line-height:0.9em !important;
	font-size:32px;
	font-family:'arial black',arial;
	height:1em;
	text-decoration:none;
	display:inline;
	color:#FFF;
	letter-spacing:-0.04em;
	}

#header h1.logo a strong {
	filter:alpha(opacity=60);
	opacity:0.6;
	}

#imglogo img {
	max-width:none;
	}

div
#hcustom {
	height:40px;
	max-width:50%;
	padding-top: 5px;
	}
div#logo
 {
	height:50px;
	max-width:50%;
	padding-top: 5px;
	}

#hcustom a {
	color:#FFF;
	}

div#logo > div > div {
	font-size:11px;
	line-height:1.3em;
	vertical-align:baseline;
	}

#header table,
#header td {
	border:none;
	margin:0;
	padding:0;
	}

#sub1 {
	height:23px;
	background:#F2F2F2 url(../images/bg_sub1.png) top center repeat-x;	
	}


/*-- CONTENT -----------------------------------------------*/

#content {
	display:block;
	z-index:1;
	width:1000px;
	padding:0;
	margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
	}

.contentbox {
	/*float:left;*/
	min-height:300px;
	}

.main-cont {
	float:right;
	width:100%;
	}

.main-cont > div {
	margin-left:145px;
	}

.main-cont .breadcrumbs {
	padding-top:5px;
	}

.cont-layout,
.pt-item-single-short-desc {
	color:#444;
	font-family:georgia,times,serif;
	font-size:120%;
	}

.cont-layout {
	padding-right:25px;
	background:url(../images/line.png) top right repeat-y;
	}

.cont-layout p,
.pt-item-single-short-desc p {
	line-height:1.7em;
	}

#title {
	padding:15px 0 5px 25px;
	z-index:2;
	position:relative;
	}

.alignleft {	float:left; margin:0 15px 0 0;}
.aligncenter {	float:none; clear:both; display: block; margin:0 auto;}
.alignright {	float:right; margin:0 0 0 15px;}


/*-- POSTS -----------------------------------------------*/

#before_post,
#after_post {
	padding:0 0 1.6em 0;
	}

.post-short-info a {
	font-weight:normal !important;
	}

.post-short-info strong {
	color:#333;
	}

.single-author-upic {
	width:110px;
	height:110px;
	border-radius:3px;
	border:5px solid #FFF;
	background:#F2F2F2;
	overflow:hidden;
	box-shadow:0 1px 4px rgba(0,0,0,0.25);
	}

.single-author-upic a {
	width:110px;
	height:110px;
	display:block;
	}

p.excerpt {
	color:#333;
	}


/*-- ARCHIVE -----------------------------------------------*/

#archive {}

.arch-title-holder {
	padding:15px;
	border:1px solid #DDD;
	background:#FFF;
	margin:0 0 25px;
	border-radius:3px;
	}

#archive .item {
	position:relative;
	margin:0 0 25px;
	background:url(../images/line.png) bottom center repeat-x;
	}

.ico {
	display:inline-block;
	padding:3px 0 0 20px;
	margin:0 0 3px;
	background-position:left 3px;
	background-repeat:no-repeat;
	}

.ico a {
	font-weight:normal;
	}

.cat {	background-image:url(../images/icons/16/folder.png); background-position:left 1px; }

.tim {	background-image:url(../images/icons/16/calend.png);	}

body .tag {	background-image:url(../images/icons/16/tag.png); /* Do not remove body */ }

.com {	background-image:url(../images/icons/16/comm.png);	}

.btwrap {
	display:block;
	margin:18px 0 15px 0;
	}

/*-- start TEMPLATE_DEFAULT --*/

.itd .m {
	margin:0 0 48px;
	}

/*-- end TEMPLATE_DEFAULT --*/
/*-- start TEMPLATE_1 --*/

.item img.t1 {
	margin:10px 0;
	}

.t1-right {
	width:auto;
	padding:0 0 0 120px;
	}

.it1 > a {
	position:absolute;
	}

.it1 h3 a {
	color:#333;
	}

/*-- end TEMPLATE_1 --*/
/*-- start TEMPLATE_2 --*/

#archive .item img.t2 {
	margin:0 0 10px 10px;
	}

img.t2 {
	display:block;
	margin:15px 0 0 15px;
	}

.it2 h3 a {
	color:#333;
	}

/*-- end TEMPLATE_2 --*/
/*-- start TEMPLATE_3 --*/

img.t3 {
	display:block;
	}

.it3w {
	background:#FFF;
	overflow:hidden;
	margin:0 0 15px 0;
	padding:3px;
	border-radius:3px;
	border:1px solid #DDD;
	}

.t3-right {
	width:auto;
	margin-left:25%;
	}

.it3 > a {
	margin:0 0 0 auto;
	}

.it3 h3 a {
	color:#333;
	}

.wfull .t3-right {
	width:auto;
	}

.t3-left {
	width:25%;
	padding:15px 0;
	}

.t3-left span {
	display:block;
	clear:both;
	}

.l {
	font-size:11px;
	color:#888;
	}

.m {
	position:relative;
	display:block;
	font-size:11px;
	}

.it3 .l,
.it3 .m {
	margin-left:10px;
	}

.m a {
	color:#888;
	text-decoration:none;
	}

.m a:hover {
	color:#191919;
	}

/*-- end TEMPLATE_3 --*/


/*-- SIDEBAR -----------------------------------------------*/

.sidebar-wrapper {
	width:25%;
	float:right;
	padding:25px 0;
	background:transparent;
	z-index:2;
	}

.sidebar-wrapper > div { /* aka .sidebar, however we can't use .sidebar */
	padding:0;
	}

.left-sidebar {
	float:left;
	width:120px;
	margin-right:-145px;
	}

.sidebar,
.sidebar p,
.sidebar td,
.sidebar li,
.sidebar div {
	font-size:11px;
	}

.sidebar h5,
h5.btml {
	background:url(../images/line.png) bottom left repeat-x;
	margin:0 0 0.6em -0.07em;
	}

.side-l {
	padding:0 12px 0 0;
	}

.side-r {
	padding:0 0 0 12px;
	}

.widget,
.f-widget{
	margin:0 0 2.5em;
	}

.auth-widget {
	margin:0 0 2.5em;
	}

.author-sidebar {
	width:100%;
	padding:0;
	margin:18px 0 0 0;
	}

.author-sidebar .sidebar {
	padding:0;
	}

.left-sidebar,
.left-sidebar .widget {
	font-size:11px;
	}


/*-- TITLES -----------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	color:#3768AD;
	line-height:1.3em !important;
	padding:0.4em 0 0.4em 0;
	margin:0 0 0 -0.07em;
	font-style:normal;
	font-weight:bold;
	font-family:Arial,Tahoma,Verdana,sans-serif;
	text-shadow:1px 2px 1px rgba(0, 0, 0, 0.07);
	-moz-text-shadow:1px 2px 1px rgba(0, 0, 0, 0.07);
	-webkid-text-shadow:1px 2px 1px rgba(0, 0, 0, 0.07);
	border-bottom:1px solid #3768AD;
	}

h1 {	font-size:24px;}
h2 {	font-size:22px;}
h3 {	font-size:20px;}
h4 {	font-size:18px;}
h5 {	font-size:16px;}
h6 {	font-size:14px;}

h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.sidebar h2 a,
.sidebar h3 a,
.sidebar h4 a,
.sidebar h5 a,
.sidebar h6 a {
	color:#333;
	text-decoration:none;
	}

h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	border-bottom:1px solid;
	}


/*-- LINKS -----------------------------------------------*/

a {
	color:#1a89c8;
	text-decoration:none;
	font-weight:bold;
	}

a:hover,
.sidebar a:hover {
	color:#333;
	text-decoration:none;
	}

a.link-color,
.link-color a,
h4 a.link-color,
.sidebar a {
	color:#8eaf00;
	}

.learn-more-hover {
	text-decoration:none;
	}

.learn-more-hover > span {
	position:absolute;
	left:0;
	top:0;
	color:#FFF;
	text-transform:uppercase;
	font-weight:bold;
	padding:0.7em 1.3em;
	display:inline-block;
	background:url(../images/bg-black-70.png) top left repeat;
	border-radius:30px;
	white-space:nowrap;
	filter:alpha(opacity=0);
	opacity:0;
	}


/*-- FOOTER -----------------------------------------------*/

#footer {
	border-top:1px solid #75717B;
	background:#3A4157;
	position:fixed;
	padding:0;
	z-index: 1;
    -webkit-box-shadow: -1px -5px 10px rgba(99, 99, 99, 0.3);
    -moz-box-shadow: -1px -5px 10px rgba(99, 99, 99, 0.3);
    box-shadow: -1px -5px 10px rgba(99, 99, 99, 0.3);

	/*position:fixed;
	bottom:0;
	z-index:300;*/
	width:100%;
	color:#fff;
	bottom:0;
	letter-spacing:1px;
	text-shadow:1px 1px #000;
	}

#footer-holder {
	background:url(../images/pslider-shadow.png) top left repeat-x;
	}

#footerarea {
	width:1000px;
	margin:0 auto;
	position:relative;
	z-index:2;
	}

#footerbox {
	margin:0 -25px;
	}

.fbox {
	margin:25px 25px 35px 25px;
	}

#copyrights {
	width:1000px;
	padding:10px 0 5px;
	margin:0 auto;
	background:url(../images/line9.png) top right repeat-x;
	}

#copyrights * {
	color:#fff;
	}

#copyrights a:hover {
	color:#333;
	}


/*-- SEARCH CUSTOM -----------------------------------------------*/

#topsearch #searchform {
	width:100px;
	}

#topsearch #searchform #s {
	width:100%;
	margin:0;
	}

#topsearch #searchform #s:focus {
	color:#444;
	font-weight:bold;
	}

#topsearch #searchform div {
	border-radius:10px;
	background:#FFF url(../images/icons/16/search.png) 4px 50% no-repeat;
	display:inline-block;
	padding:3px 3px 3px 20px;
	border:none;
	width:auto;
	float:right;
	}


/*-- SEARCH DEFAULT + Subscribe widget -----------------------------------------------*/

#searchform div,
.feedemail-form div {
	border-radius:3px;
	background:#FFF;
	width:99%;
	padding:1px;
	display:inline-block;
	border:1px solid #DDD;
	box-shadow:0 1px 2px rgba(0,0,0,0.1) inset;
	}

.sidebar #searchform #s {
	position:absolute;
	}

#searchform #s,
.feedemail-input {
	width:65%;
	display:inline-block;
	float:left;
	margin:7px 0 0 5px;
	padding:0;
	border:none;
	background:none;
	font-size:11px;
	font-family:tahoma,sans-serif;
	color:#999;
	box-shadow:none;
	-webkit-box-shadow:none;
	}

.widget #searchform #s {
	position:absolute;
	}

@media screen and (-webkit-min-device-pixel-ratio:0) { /* FOR SAFARI*/
   #searchform #s { 
	margin:5px 0 0 5px;
   }
}

#searchform #s:focus,
.feedemail-input:focus {
	box-shadow:none;
	-webkit-box-shadow:none;
	border:none !important;
	}

#searchform input#searchsubmit,
.feedemail-form .feedemail-button {
	text-decoration:none;
	border:none !important;
	background:#1a89c8;
	color:#FFF;
	white-space:nowrap;
	line-height:1;
	cursor:pointer;
	float:right;
	font-size:11px;
	font-weight:bold;
	width:30%;
	border-radius:2px !important;
	margin:0 !important;
	padding:6px !important;
	position:relative;
	}

#searchform input#searchsubmit:hover,
.feedemail-form .feedemail-button:hover {
	background:#333;
	color:#FFF;
	}

#searchform label {
	display:none !important;
	}


/*--  + Subscribe widget fixes -----------------------------------------------*/

.feedemail-form > div {
	background:#FFF url(../images/icons/16/led-icons/email.png) 6px 50% no-repeat;
	}

.feedemail-input {
	margin:7px 0 0 25px;
	position:absolute;
	}

@media screen and (-webkit-min-device-pixel-ratio:0) { /* FOR SAFARI*/
   .feedemail-input { 
	margin:5px 0 0 25px;
   }
}


/*-- COMMENTS -----------------------------------------------*/

ol.cmt {
	margin:0 0 25px 0;
	padding:0;
	}

ol.cmt li {
	padding:15px 0 0;
	position:relative;
	}

.avatar {
	border-radius:2px;
	font:normal 10px/12px tahoma;
	color:#777;
	}

.cmt-header {
	background:#f6f6f6;
	margin:0 0 10px;
	}

.cmt .avatar {
	position:absolute;
	}

.cmt-metas {
	height:50px;
	width:100%;
	}

.cmt-metas-no-gravatar {
	height:25px;
	}

.cmt-metas:hover .hide {
	display:inline;
	}

.cmt-metas > div {
	padding:0 0 0 60px;
	}

.cmt-metas-no-gravatar > div {
	padding:0 0 0 10px;
	}

.cmt-metas > div > div {
	position:relative;
	}

.cmt-metas a.url {
	text-decoration:none;
	font-weight:bold;
	color:#444;
	}

.cmt-metas a.url:hover {
	text-decoration:underline;
	}

.children .cmt-metas {
	height:25px;
	}

.children .cmt-metas > div {
	padding:0 0 0 35px;
	}

.children .cmt-metas-no-gravatar > div {
	padding:0 0 0 10px;
	}

.cmt-time {
	font-size:10px;
	color:#999;
	right:10px;
	position:absolute;
	}

.cmt p {
	padding:0 0 0.5em 0;
	}

.children {
	list-style:none;
	margin:0 0 0 25px;
	}

.top-level-comment,
.top-level-comment a {
	font-size:15px;
	font-weight:bold;
	color:#444;
	}

/*-- FORMS -----------------------------------------------*/

form {
	position:relative;
	}


textarea {
	font-family:Georgia,Times,serif;
	font-size:15px;
	background:#FFF; 
	border-radius:3px;
	padding:4px;
	margin:0;
	border:1px solid #E91DFB;
	color:#888;
	border:1px solid #DDD;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset;
	width:492px;
	}
	
	input {
	font-family:Georgia,Times,serif;
	font-size:15px;
	/*background:#FFF; */
	border-radius:3px;
	padding:4px;
	margin:0;	
	color:#888;
	border:1px solid #CFCECE;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset;
	/*width:200px;*/
	}

input:focus,
textarea:focus {
	border:1px solid #BA85BF;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.25) inset;
	color:#555;
	}

input[type=text],
input[type=password],
input[type=file],
input[type=checkbox],
input[type=radio],
input[type=button] {
	width:auto;
	}

input[type=button],
input[type=submit] {
	box-shadow:none;
	}

input[type=file],
input[type=checkbox],
input[type=radio] {
	padding:0 !important;
	border:none !important;
	box-shadow:none !important;
	}

input[type=button] {
	float:left;
	box-shadow:none;
	}

select {
	font-family:Georgia,Times,serif;
	font-size:13px;
	background:#FFF;
	border-radius:3px;
	padding:2px;
	margin:0;
	border:0;
	color:#888;
	border:1px solid #DDD;
	}

textarea {
	height:60px;
	font-size:15px;
	}

label {
	font-size:11px;
	}

form p {
	padding:0 0 7px !important;
	}
/*
input[type="submit"],
input[type="button"]:not(.ed_button), // ed_button is the front-end text editor 
.standard-form div.submit input,
input[name="upload"],
.right-submit {
	font-size:11px;
	line-height:1em;
	text-transform:uppercase;
	color:#FFF !important;
	font-weight:bold;
	padding:0.7em 2em;
	vertical-align:middle;
	overflow:visible;
	background:#427EC7 url(../forms/images/login.png) left bottom repeat-x;
	background-size:100% 100%;

	border:none !important;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkid-border-radius:5px;
	width:auto !important;
	text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.25);
	cursor:pointer;
	font-family:Tahoma,Arial,Verdana,sans-serif;
	}

input[type="submit"]:hover,
input[type="button"]:hover {
	box-shadow:0 1px 3px rgba(0,0,0,0.2);
	background-color:#3A4157;
	}
*/
.submit-wrap {
	display:inline-block;
	}

/*-- Comment form --*/

#commentform input,
#commentform-a input {
	width:35%;
	}

#commentform-a.hidden {
	position:relative;
	display:none;
	}

#commentform {
	margin-bottom:10px;
	}

#commentform,
.quick-holder > form {
	background:#F6F6F6;
	padding:15px 50px 25px 50px;
	border-radius:3px;
	}

.quick-holder {
	height:0;
	overflow:hidden;
	position:relative;
	}

.quick-holder > form {
	margin:0 0 25px 0;
	}

#commentform h4,
.quick-holder h5 {
	color:#555;
	}

.cancel-reply-button {
	margin:5px;
	right:0;
	z-index:1;
	width:20px;
	height:20px;
	text-decoretion:none;
	background:url(../images/icons/16/led-icons/cross.png) center center no-repeat;
	filter:alpha(opacity=60);
	opacity:0.6;
	}

.cancel-reply-button:hover {
	filter:alpha(opacity=100);
	opacity:1;
	}

.reply .quick-reply {
	display:inline !important;
	padding:0.3em 0.6em 0.4em;
	}

#review-label-holder {
	text-align:center;
	}

#review-label {
	font-size:11px;
	margin:-5px 0 35px;
	font-weight:bold;
	color:#333;
	display:inline-block;
	}

/*-- L o g i n   f o r m --*/

.standard-form label,
.standard-form span.label {
	display:block;
	margin:15px 0 5px 0;
	color:#333;
	}

.standard-form#sidebar-login-form label {
	margin-top:5px;
	}

.standard-form input[type=text],
.standard-form input[type=password] {
	width:90%;
	}



/*-- MISC -----------------------------------------------*/

.none {		display:none !important;}
.hidden {		visibility:hidden;}
.hide {		display:none;}
.table {		display:table;}
.tcell {		display:table-cell;}
.inline-block {	display:inline-block;}
a.ntd,
.ntd a,
.ntda > a {	text-decoration:none;}
a.ntd:hover,
.ntd a:hover,
.ntda > a:hover {	text-decoration:underline;}

.nowrap {		white-space:nowrap;}
strong,
.strong {		font-weight:bold;}
.normal {		font-weight:normal;}
.fontblack {}

em {		font-style:italic; font-family:georgia,times;}

.br2 {		border-radius:2px;}
.br3 {		border-radius:3px;}
.br3top {		border-radius:3px 3px 0 0;}

.left {	text-align:left;}
.right {	text-align:right;}
.center {	text-align:center;}

table.center td {	text-align:center;}

.lgray {	color:#AAA;}
.gray {	color:#888;}
.dark {	color:#333;}

.p0 {	padding:0 !important;}
.p10 {	padding:10px 10px 0 10px;}
.pt3 {	padding:3px 0 0 0 !important;}
.pt5 {	padding:5px 0 0 0 !important;}
.pt10 {	padding:10px 0 0 0 !important;}
.pb0 {	padding:0;}
.pb5 {	padding:0 0 5px 0;}
.pb10 {	padding:0 0 10px 0;}
.pb15 {	padding:0 0 15px 0;}
.pb20 {	padding:0 0 20px 0;}
.pb25 {	padding:0 0 25px 0;}

.nomargin { margin:0 !important;}
.ml40 {	margin:0 0 0 40px;}
.mr-20 {	margin:0 -20px 0 0; position:relative;}
.mb0 {	margin-bottom:0 !important;}
.mb5 {	margin-bottom:5px !important;}
.mb-1 {	margin:0 0 -1px 0;}
.mb1e {	margin:0 0 1em 0;}
.mb2e {	margin:0 0 2em 0;}
.mb20 {	margin:0 0 20px 0;}
.mb25 {	margin:0 0 25px 0;}
.mb20mlr-25 { margin:0 -25px 20px -25px;}
.mb25mlr-25 { margin:0 -25px 25px -25px;}
.mr5 {	margin-right:5px;}
.mr10 {	margin:0 10px 0 0;}
.mr20 {	margin:0 20px 0 0;}
.mr25 {	margin:0 25px 0 0;}
.mt10 {	margin:10px 0 0 0 !important;}
.mt-05e {	margin:-0.5em 0 0 0 !important;}
.mt-1e {	margin:-1em 0 0 0 !important;}
.mt-10 {	margin-top:-10px !important;}
.mt-13 {	margin:-13px 0 0 0 !important;}
.mt-20 {	margin:-20px 0 0 0 !important;}
.ml10 {	margin:0 0 0 10px;}
.ml-01e {	margin:0 0 0 -0.1em;}
.mfl {	margin:0 1em 0.5em 0;}
.mfr {	margin:0 0 0.5em 1em;}
.mcb10 {	margin:0 auto 10px auto;}

.fl {	float:left !important;}
.fr {	float:right !important;}
.fc {	clear:both !important; margin:0 auto !important;}
.fc1e {	clear:both !important; margin:0 auto 1em auto !important;}
.fc2e {	clear:both !important; margin:0 auto 2em auto !important;}

.w25p {	width:25%;}
.w40 {	width:40px !important;}
.w50p {	width:50%;}
.w75p {	width:75%;}
.w100 {	width:100%;}
.w100i {	width:100% !important;}
.w200 {	width:200px;}
.w480 {	width:480px;}
.w440 {	width:440px;}
.w620 {	width:75%;}
.w600 {	width:600px; max-width:100%;}
.w720 {	width:75%;}
.w910 {	width:910px;}
.wfull {	width:1000px;}
.wauto {	width:auto;}

.w620,
.w660,
.w720,
.page-template-default .contentbox {	padding:0px 0 25px 0;}

.wfull,
.wauto {	padding:0 0 25px 0;}

.relative {		position:relative;}
.absolute {	position:absolute;}

.h0 {	height:0 !important;}
.h5 {	height:5px;}
.h7 {	height:7px;}
.h10 {	height:10px;}
.h17 {	height:17px;}
.h20 {	height:20px;}
.h25 {	height:25px;}
.h30 {	height:30px;}
.h40 {	height:40px;}
.h45 {	height:45px;}
.h100 {	height:100px;}

.f10 	{font-size:10px !important;}
.f11 	{font-size:11px !important;}
.f12 	{font-size:12px !important;}
.f13 	{font-size:13px !important;}
.f14 	{font-size:14px !important;}
.f15 	{font-size:15px !important;}
.f16 	{font-size:16px !important;}
.f18 	{font-size:18px !important; text-shadow:1px 2px 1px rgba(0, 0, 0, 0.07);}
.f20 	{font-size:20px !important; text-shadow:1px 2px 1px rgba(0, 0, 0, 0.07);}
.f22 	{font-size:22px !important; text-shadow:1px 2px 1px rgba(0, 0, 0, 0.07);}
.f24 	{font-size:24px !important; text-shadow:1px 2px 1px rgba(0, 0, 0, 0.07);}
.f26 	{font-size:26px !important; text-shadow:1px 2px 1px rgba(0, 0, 0, 0.07);}
.f30 	{font-size:30px !important; text-shadow:1px 2px 1px rgba(0, 0, 0, 0.07);}
.f36 	{font-size:36px !important; text-shadow:1px 2px 1px rgba(0, 0, 0, 0.07);}
.f120 	{font-size:120% !important;}

.lh10 {	line-height:1em !important;}
.lh11 {	line-height:1.1em !important;}
.lh12 {	line-height:1.2em !important;}
.lh13 {	line-height:1.6em !important;}

.op50 {	filter:alpha(opacity=50); opacity:0.5; }
.op70 {	filter:alpha(opacity=70); opacity:0.7; }

img.img-border {
	padding:1px;
	border:1px solid #e1e1e1;
	margin:0 0 1.5em;
	}

.breadcrumbs * {
	font-size:11px;
	color:#999;
	white-space:nowrap;
	}

.divider {
	background:url(../images/divider.png) center 3px no-repeat;
	background-size:100% 10px;
	height:15px;
	margin:0 0 5px 0;
	}

.padder iframe {
	width:0;
	height:0;
	}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	max-width:100%;
	margin:0 0 18px;
	}

.video-container iframe,
.video-container object,
.video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100% !important;
	height:100% !important;
	}

.wp-caption {}
.wp-caption-text {}
.bypostauthor {}

.sticky {}


/*-- PAGINATION -----------------------------------------------*/

#nav-previous-next a {
	font-size:11px;
	line-height:1em !important;
	font-weight:bold;
	display:inline-block;
	text-decoration:none;
	white-space:nowrap;
	color:#555 !important;
	padding:0.45em 0.8em 0.5em 0.8em;
	margin:0 3px;
	display:inline-block !important;
	background-color:#FFF;
	background-position:center center;
	background-image:url(../images/grd-black2.png) !important;
	background-repeat:repeat-x;
	background-size:100% 100%;
	border-radius:0.3em;
	border:1px solid #D5D5D5;
	border-bottom:1px solid #AAA;
	}

#nav-previous-next a:hover {
	border:1px solid #AAA;
	box-shadow:0 1px 2px rgba(0,0,0,0.2);
	cursor:pointer;
	}

#wp-pagenavibox {
	display:block;
	position:relative;
	border-radius:3px;
	text-align:center;
	color:#FFF;
	background:#203338 url(../images/patterns/pat_10.png) repeat left top;
	}

.wp-pagenavi {
	display:inline-block;
	position:relative;
	color:#FFF;
	font-size:11px;
	line-height:1.4em;
	margin:15px;
	}

.wp-pagenavi a,
.wp-pagenavi a:link,
.wp-pagenavi span.current {
	display:block;
	float:left;
	text-align:center;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	padding:0.46em 0.95em 0.50em;
	margin:1px 2px;
	background:#4CB200 url(../images/grd-black.png) left bottom repeat-x;
	background-size:100% 100%;
	white-space:nowrap;
	border-radius:2px;
	font-size:11px;
	text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.25);
	border:none;
	}

.wp-pagenavi span.current,
.wp-pagenavi a:hover {
	color:#333;
	background:#FFF url(../images/grd-black.png) left bottom !important;
	text-shadow:none;
	}

.wp-pagenavi span.pages {
	padding:6px 10px 3px 0;
	float:left;
	border:none;
	}

.wp-pagenavi a:hover {
	cursor:pointer;
	}

.wp-pagenavi span.extend {
	padding:3px 8px;	
	background:none;
	float:left;
	border:none;
	}


/*-- LIFESTREAM -----------------------------------------------*/

#icons {
	display:block;
	}

#icons a {
	float:right;
	margin:2px;
	filter:alpha(opacity=50);
	opacity:0.5;
	width:16px;
	height:16px;
	}

#icons a:hover {
	filter:alpha(opacity=100);
	opacity:1.0;
	}

#icons a img {
	filter:gray; /* IE6-9 */
	-webkit-filter:grayscale(1); /* Google Chrome & Safari 6+ */
	}

#icons a:hover img {
	filter:none;
	-webkit-filter:grayscale(0);
	}


/*-- TABS -----------------------------------------------*/

.ktabs-holder {
	display:block;
	margin:0 0 20px;
	}

.kul {
	list-style:none;
	padding:0;
	margin:0;
	background:#030303;
	border-radius:3px 3px 0 0;
	display:table;
	width:100%;
	}

.kul li {
	border-radius:3px 3px 0 0;
	color:#FFF;
	float:left;
	font-size:11px;
	font-weight:bold;
	margin:6px -9px 0 10px;
	padding:3px 15px;
	text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.25);
	text-transform:uppercase;
	background:transparent url(../images/bg-white-25.png) 0 0 repeat-x;
	}

.kul li > span {
	background:url(../images/bg-black-40.png) top left repeat;
	color:#FFF;
	padding:1px 5px;
	margin:0 0 0 5px;
	border-radius:2px;
	font-weight:normal;
	}

.kul li a {
	text-decoration:none;
	color:#333;
	}

li.kcurrent,
.kul li:hover,
li.current {
	background-color:#FFF;
	cursor:pointer;
	color:#333;
	text-shadow:none;
	}

.ktabs {
	clear:both;
	border:1px solid #CCC;
	border-top:0px;
	padding:10px;
	border-radius:0 0 3px 3px;
	background:#FFF;
	}

.ktabs .block {
	visibility:visible;
	position:relative;
	top:0;
	}

.ktabs > div {
	visibility:hidden;
	position:absolute;
	top:-9999px;
	}


/*-- S h o r t   t a b s --*/

.kul-short li {
	letter-spacing:0em;
	padding:3px 6px;
	}


/*-- S t y l e   2 --*/

ul.kul-style-2 {
	background:#E5E5E5 url(../images/line.png) center bottom repeat-x;
	border-radius:3px 3px 0 0;
	height:58px;
	overflow:hidden;
	}

ul.kul-style-2 li {
	border-top:3px solid #E5E5E5;
	display:inline-block;
	font-size:11px;
	font-weight:bold;
	line-height:12px;
	padding:18px 26px 20px 25px;
	margin:5px 0 0 0 !important;
	text-transform:uppercase;
	background:url(../images/line.png) right top repeat-y;
	text-decoration:none;
	color:#555;
	text-shadow:none;
	}

ul.kul-style-2 li:first-child {
	border-left:1px solid #E5E5E5;
	margin-left:25px !important;
	}

ul.kul-style-2 li:hover {
	border-top:3px solid #333;
	color:#333;
	background-color:#FFF;
	}

ul.kul-style-2 li.kcurrent,
ul.kul-style-2 li.current {
	border-top:3px solid #8EAF00;
	color:#8EAF00;
	background-color:#FFF;
	}

.ktabs-style-2 {
	border-color:#E5E5E5;
	padding:15px 25px;
	}


/*-- S t y l e   2 . 1   ( m i n i ) --*/

ul.kul-style-2-mini {
	height:38px;
	}

ul.kul-style-2-mini li {
	padding:8px 16px 10px 15px;
	}

ul.kul-style-2-mini li:first-child {
	margin-left:10px !important;
	}

.ktabs-style-2-mini {
	padding:15px 10px;
	}


/*-- S t  y l e   3 --*/

.ktabs-holder-style-3 {
	border-radius:3px;
	background:#11535F url(../images/patterns/pat_10.png) top left repeat;
	padding:10px 25px 20px;
	}

.ktabs-holder-style-3 h4 {
	color:#FFF;
	position:absolute;
	}

ul.kul-style-3 {
	display:table;
	background:none;
	margin:9px 0 18px auto;
	width:auto;
	}

ul.kul-style-3 li {
	margin:0 0 0 5px;
	padding:3px 11px;
	background:#4cb200 url(../images/grd-black.png) left bottom repeat-x;
	background-size:100% 100%;
	border-radius:2px;
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.5) inset;
	}

.ktabs-style-3 {
	border:none;
	background:none;
	padding:0;
	color:#CCC;
	}

ul.kul-style-3 li.kcurrent,
ul.kul-style-3 li:hover,
ul.kul-style-3 li.current {
	color:#333;
	background-color:#FFF;
	}



/*-- TOOLTIPS -----------------------------------------------*/

.tooltip {
	position:relative;
	}

span.tooltip {
	border-bottom:1px dotted #555;
	cursor:help;
	}

.tt_wrap {
	position:absolute;
	z-index:999;
	width:180px;
	height:250px;
	}

.tt_wrap .ttbox {
	position:absolute;
	width:180px;
	bottom:0;
	text-align:center;
	}

.tt_wrap .ttbox span {
	display:inline-block;
	font-size:11px;
	padding:4px 7px;
	line-height:1.2em;
	border-radius:2px;
	background:#333;
	color:#EEE;
	}

ul.column_2,
ul.column_3 {
	list-style:none;
	width:910px;
	margin:0;
	padding:0;
	position:relative;
	display:block;
	}

ul.column_2 li {
	width:425px;
	}

ul.column_3 li {
	width:270px;
	}

ul.column_2 li,
ul.column_3 li {
	float:left;
	display:block;
	margin:0 30px 0 0;
	padding:0;
	}

ul.column_2 li img,
ul.column_3 li img {
	border:none !important;
	background:none !important;
	margin:0 10px 0 0 !important;
	padding:0;
	}


/*-- FIX FOR CONTACT FORM 7 -----------------------------------------------*/

span.wpcf7-not-valid-tip {
	background:#F7E700 !important;
	color:#333 !important;
	font-size:11px !important;
	padding:0 0.5em !important;
	width:auto !important;
	border:none !important;
	}

.wpcf7-form-control-wrap input[type="text"] {
	width:93%;
	}


/*-- FIX FOR GRUNION CONTACT FORM -----------------------------------------------*/

body .contact-form input[type="text"] {
	width:60%;
	margin-bottom:10px;
	}

body .contact-form textarea {
	width:93%;
	height:50px;
	}

body .contact-form label {
	margin-bottom:0;
	}


/*-- FIX FOR WP GALLERY -----------------------------------------------*/

.gallery-item img {
	border:none !important;
	display:table;
	margin:0 auto;
	border-radius:3px;
	}

.gallery-caption {
	font-size:11px;
	line-height:1.5em;
	padding:10px 0;
	}


/*-- SPANSKO THEME -----------------------------------------------*/

.wrapper960 {
	width:1000px;
	background:#FFF;
	margin:0 auto;
	position:relative;
	}

.gray-contentbox {
	background:#F2F2F2 url(../images/line.png) left bottom repeat-x;
	padding:5px 25px;
	margin-bottom:-1px;
	position:relative;
	display:block;
	}

.white-contentbox
{
    background: #FEFEFE;
    padding: 5px 24px;
    position: relative;
    margin:35px 0 20px 0;
    border: 1px solid #E5E5E5;
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px; 
	-webkid-box-shadow:rgba(0,0,0,0.5) 0px 0px 24px; 
	-moz-box-shadow:rgba(0,0,0,0.5) 0px 0px 24px; 
	-o-box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkid-border-radius:8px;
	-o-border-radius:8px;
		min-height:740px;
}

.bp-white-contentbox {
	background:#FEFEFE url(../images/line.png) left bottom repeat-x;
	padding:10px 25px;
	position:relative;
	margin:15px 0 40px 0;
	box-shadow:rgba(0,0,0,0.5) 0px 0px 24px; 
	-webkid-box-shadow:rgba(0,0,0,0.5) 0px 0px 24px; 
	-moz-box-shadow:rgba(0,0,0,0.5) 0px 0px 24px; 
	-o-box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkid-border-radius:8px;
	-o-border-radius:8px;
	}

.pt_header_content {
	width:1000px;
	margin:0 auto;
	padding:25px 0 0px;
	color:#CCC;
	position:relative;
	}

.pt_header_content h1,
.pt_header_content h2,
.pt_header_content h3,
.pt_header_content h4,
.pt_header_content h5,
.pt_header_content h6 {
	color:#FFF;
	}

.logos img {
	filter:alpha(opacity=70);
	opacity:0.7;
	filter:gray; /* IE6-9 */
	-webkit-filter:grayscale(1); /* Google Chrome & Safari 6+ */
	}

.logos img:hover {
	filter:alpha(opacity=100);
	opacity:1.0;
	filter:none;
	-webkit-filter:grayscale(0);
	}



.shadow{box-shadow:4px 4px 4px rgba(0,0,0,0.25);}

#clock{line-height:10px; letter-spacing:1px;}


#home-icon a {
	background:url(../images/icons/home.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:16px;
	margin-left:20px;
	}

#home-icon a:hover {
	background:url(../images/icons/home_dark.png) top center no-repeat;
	}


.center_content{width:80%; margin:0 auto; padding:20px;}

.margin-left{margin-left:20px;}
.margin-right{margin-right:20px;}
.margin-top{margin-top:20px;}




#topnav{display:block; float:right; width:786px; margin:5px 0 0 0; padding:0; font-size:13px; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif;}
#topnav ul{margin:0; padding:0; list-style:none;}
#topnav ul, #topnav li{float:right; list-style:none; margin:0; padding:0;}
#topnav li a:link, #topnav li a:visited, #topnav li a:hover{display:block; margin:0 5px 0 0; padding:5px 5px; color:#FFFFFF;  background-color:#3768AD; }/*B5BA96,6ea8fa*/
#topnav ul ul li a:link, #topnav ul ul li a:visited{border:none;}
#topnav ul li.last a{margin-right:0;}
#topnav li a:hover, #topnav ul li.active a{color:#FFFFFF; background-color:#6b6e74;}/*919863*/
#topnav li li a:link, #topnav li li a:visited{width:200px; float:none; margin:0; padding:5px 5px; font-size:12px; font-weight:normal; color:#FFFFFF; background-color:#3768AD; border-left:1px solid #FFFFFF;}
#topnav li li a:hover{color:#FFFFFF; background-color:#6b6e74;}
#topnav li ul{z-index:9999; position:absolute; left:-999em; height:auto; width:120px;}
#topnav li ul a{width:100px;}
#topnav li ul ul{margin:-32px 0 0 0;}
#topnav li:hover ul ul{left:-999em;}
#topnav li:hover ul, #topnav li li:hover ul{left:auto;}
#topnav li:hover{position:static;}
#topnav li.last a{margin-right:0;}


#comments{margin-bottom:40px;}
#comments .commentlist{margin:0; padding:0;}
#comments .commentlist ul{margin:0; padding:0; list-style:none;}
#comments .commentlist li.comment_odd, #comments .commentlist li.comment_even{margin:0 0 10px 0; padding:15px; list-style:none;}
#comments .commentlist li.comment_odd{color:#666666; background-color:#F7F7F7;}
#comments .commentlist li.comment_odd a{color:#FF9900; background-color:#F7F7F7;}
#comments .commentlist li.comment_even{color:#666666; background-color:#E8E8E8;}
#comments .commentlist li.comment_even a{color:#FF9900; background-color:#E8E8E8;}
#comments .commentlist .author .name{font-weight:bold;}
#comments .commentlist .submitdate{font-size:smaller;}
#comments .commentlist li{margin:5px 5px 10px 0; padding:0;font-size:small; font-weight:normal; text-transform:none;}
#comments .commentlist li .avatar{float:right; border:1px solid #EEEEEE; margin:0 0 0 10px;}

.RadForm.rfdFieldset legend {
    margin: 15px;
}