


/* ********************************************
//
// 	769...970
//
// ****************************************** */


@media only screen and (min-width:768px) and (max-width:969px) {


/* -- C o m m o n --------------------------------------- */

#content,
#topheader,
#menuwrapper,
#footerarea,
#copyrights,
.wfull {
	width:748px;
	}


/* - - H e a d e r --------------------------------------- */

#header,
.pt_header_content {
	width:748px;
	}


/* -- M e n u --------------------------------------- */

ul.top-menu > li > a {
	font-family:sans-serif;
	padding-left:10px;
	padding-right:10px;
	}

ul.top-menu ul li.basic a {
	width:160px;
	padding-left:10px !important;
	}


/* -- M e g a m e n u --------------------------------------- */

ul.megamenu {
	width:698px !important;
	}

ul.top-menu li.basic-mega > ul {
	width:723px !important;
	}

ul.top-menu li.basic-mega ul a {
	font-size:11px;
	}

/* -- S h o r t c o d e s --------------------------------------- */

.posts2-img,
.posts2-meta {
	width:47% !important;
	}

.grid-auto,
.posts-post:not(.no-resp) {
	width:100% !important;
	}

.grid-post:not(.no-resp) {
	margin:0;
	}

.grid-post:not(.no-resp) > div {
	margin:0 !important;
	padding:10px 0 25px !important;
	background:url(../images/line.png) top left repeat-x;
	}

.grid-post:not(.no-resp):first-child > div {
	background:none;
	padding:0 0 25px !important;
	}

.grid-post:not(.no-resp) .mfl {
	width:33% !important;
	height:auto !important;
	float:right !important;
	margin:0 0 0.5em 1em;
	text-align:right;
	}

.grid-post:not(.no-resp) .mfl img {
	max-width:100%;
	height:auto;
	}

.no-resp {	
	width:auto !important;
	}


} /* less 970 */



/* ********************************************
//
// 	481...768
//
// ****************************************** */


@media only screen and (min-width:480px) and (max-width:767px) {

/* -- C o m m o n --------------------------------------- */

#content,
#topheader,
#menuwrapper,
#footerarea,
#copyrights,
.sidebar-wrapper,
.wfull,
.item-comments-holder .w600,
.w620,
.w720 {
	width:460px;
	}

.w600 {
	width:410px;
	margin:0 25px;
	}

.one_half,.one_third,.two_third,.one_fourth,.two_fourth,.three_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.two_sixth,.three_sixth,.four_sixth,.five_sixth,
.one_eight,.three_eight,.five_eight,.seven_eight {
	width:100%;
	float:none;
	clear:both;
	}

.one_half > div, .one_third > div, .two_third > div, .one_fourth > div, .two_fourth > div, three_fourth > div, .one_fifth > div, .two_fifth > div, .three_fifth > div, .four_fifth > div, 
.one_sixth > div, .two_sixth > div, .three_sixth > div, .four_sixth > div, .five_sixth > div, .one_eight > div, .three_eight > div, .five_eight > div, .seven_eight,
.w620 > div,
.w720 > div,
.w720 .main-cont > div {
	margin:0 !important;
	}

.w720 .left-sidebar {
	display:none;
	}

.cont-layout,
.activity-permalink .activity-content .activity-inner {
	background-image:none;
	padding:0;
	}


/* - - H e a d e r --------------------------------------- */

#header,
.pt_header_content {
	width:460px;
	}

div#logo,
#hcustom {
	float:none !important;
	margin:0 auto;
	max-width:100%;
	}

#hcustom .right {
	text-align:center;
	}

#hsearch {
	display:none;
	}


/* -- M e n u --------------------------------------- */

#selectElement,
#menuwrapper #page_id {
	display:block;
	margin:0 auto;
	width:460px;
	}

#menuwrapper .menubox {
	display:none;
	}

.secondary-menubox {
	display:table;
	margin:0 auto;
	}


/* -- F o o t e r --------------------------------------- */

#footerbox {
	margin:0;
	padding:25px 0;
	}


/* -- T a b s -------------------- */

.kul li {
	padding:3px 10px;
	}

.ctabs a span {
	display:none;
	}


/* -- S h o r t c o d e s --------------------------------------- */

.posts2-img,
.posts2-meta {
	width:47% !important;
	}

.grid-auto,
.posts-post:not(.no-resp) {
	width:100% !important;
	}

.grid-post:not(.no-resp) {
	margin:0;
	}

.grid-post:not(.no-resp) > div {
	margin:0 !important;
	padding:10px 0 25px !important;
	background:url(../images/line.png) top left repeat-x;
	}

.grid-post:not(.no-resp):first-child > div {
	background:none;
	padding:0 0 25px !important;
	}

.grid-post:not(.no-resp) .mfl {
	width:33% !important;
	height:auto !important;	
	float:right !important;
	margin:0 0 0.5em 1em;
	text-align:right;
	}

.grid-post:not(.no-resp) .mfl img {
	max-width:100%;
	height:auto;
	}

.no-resp {	
	width:auto !important;
	}

.ml-grid-2 > div,
.ml-grid-3 > div,
.ml-grid-4 > div,
.ml-grid-5 > div,
.prod-grid-2 > div,
.prod-grid-3 > div,
.prod-grid-4 > div,
.prod-grid-5 > div,
.prod-grid-6 > div,
.prod-grid-7 > div,
.prod-grid-8 > div {
	width:100%;
	float:none;
	}


/* -- M i s c --------------------------------------- */

.resp-no-border {
	border:0 !important;
	}

.resp-no-padding {
	padding:0 !important;
	}

#commentform,
.quick-holder > form {
	padding:15px 10px 25px;
	}

#demo-panel {
	display:none;
	}


} /* less 768 */



/* ********************************************
//
// 	less 480
//
// ****************************************** */


@media only screen and (max-width:479px) {

/* -- C o m m o n --------------------------------------- */

#content,
#topheader,
#menuwrapper,
#footerarea,
#copyrights,
.sidebar-wrapper,
.wfull,
.item-comments-holder .w600,
.w620,
.w720 {
	width:300px;
	}

.w600 {
	width:250px;
	margin:0 25px;
	}

.one_half,.one_third,.two_third,.one_fourth,.two_fourth,.three_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.two_sixth,.three_sixth,.four_sixth,.five_sixth,
.one_eight,.three_eight,.five_eight,.seven_eight {
	width:100%;
	float:none;
	clear:both;
	}

.one_half > div, .one_third > div, .two_third > div, .one_fourth > div, .two_fourth > div, three_fourth > div, .one_fifth > div, .two_fifth > div, .three_fifth > div, .four_fifth > div, 
.one_sixth > div, .two_sixth > div, .three_sixth > div, .four_sixth > div, .five_sixth > div, .one_eight > div, .three_eight > div, .five_eight > div, .seven_eight,
.w620 > div,
.w720 > div,
.w720 .main-cont > div {
	margin:0 !important;
	}

.w720 .left-sidebar {
	display:none;
	}

.cont-layout,
.activity-permalink .activity-content .activity-inner {
	background-image:none;
	padding:0;
	}


/* - - H e a d e r --------------------------------------- */

#header,
.pt_header_content {
	width:300px;
	}

div#logo,
#hcustom {
	float:none !important;
	margin:0 auto;
	max-width:100%;
	}

#hcustom .right {
	text-align:center;
	}

#hsearch {
	display:none;
	}

#head-counters {
	text-align:center;
	}

#head-welcome {
	display:none;
	}


/* -- M e n u --------------------------------------- */

#selectElement,
#menuwrapper #page_id {
	display:block;
	}

#menuwrapper .menubox {
	display:none;
	}

.secondary-menubox {
	display:table;
	margin:0 auto;
	}


/* -- F o o t e r --------------------------------------- */

#footerbox {
	margin:0;
	padding:25px 0;
	}


/* -- T a b s -------------------- */

.kul li {
	padding:3px 10px;
	}

.ctabs a span {
	display:none;
	}


/* -- P o s t s -------------------- */

.it3w > a,
.it3w > div,
.t3-left {
	width:100%;
	}

.t3-right {
	margin-left:11px;
	}



/* -- S h o r t c o d e s --------------------------------------- */

.posts2-img,
.posts2-meta {
	width:47% !important;
	}

.grid-auto,
.posts-post:not(.no-resp) {
	width:100% !important;
	}

.grid-post:not(.no-resp) {
	margin:0;
	}

.grid-post:not(.no-resp) > div {
	margin:0 !important;
	padding:10px 0 25px !important;
	background:url(../images/line.png) top left repeat-x;
	}

.grid-post:not(.no-resp):first-child > div {
	background:none;
	padding:0 0 25px !important;
	}

.grid-post:not(.no-resp) .mfl {
	width:33% !important;
	height:auto !important;	
	float:right !important;
	margin:0 0 0.5em 1em;
	text-align:right;
	}

.grid-post:not(.no-resp) .mfl img {
	max-width:100%;
	height:auto;
	}

.no-resp {	
	width:auto !important;
	}

.ml-grid-2 > div,
.ml-grid-3 > div,
.ml-grid-4 > div,
.ml-grid-5 > div,
.prod-grid-2 > div,
.prod-grid-3 > div,
.prod-grid-4 > div,
.prod-grid-5 > div,
.prod-grid-6 > div,
.prod-grid-7 > div,
.prod-grid-8 > div {
	width:100%;
	float:none;
	}

/* -- B u d d y P r e s s --------------------------------------- */

#message-threads td,
table.forum th,
table.forum td {
	display:block;
	}

div.dir-search {
	margin:0;
	}

#whats-new-options {
	height:auto;
	}

#whats-new-post-in-box {
	clear:both;
	}


/* -- M i s c --------------------------------------- */

.resp-no-border {
	border:0 !important;
	}

.resp-no-padding {
	padding:0 !important;
	}

#commentform,
.quick-holder > form {
	padding:15px 10px 25px;
	}

#demo-panel {
	display:none;
	}


} /* less 480 */